# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: ModTracker

# Run workflow:
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:
    
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    #- name: Install system dependencies
     # run: |
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        pip install PyQt6
        pip install PyQt6-Charts
        pip install requests
        pip install levenshtein
        pip install fastapi
        pip install pyinstaller
    
    - name: Save test results
      env:
        QT_QPA_PLATFORM: offscreen
      run: |
          mkdir test-results
          python tests/runTests.py > test-results/results.txt || true

    - name: Build executable with PyInstaller
      run: |
        pyinstaller --name "Mod Tracker" --onefile --noconsole --icon=assets/icon.ico DesktopApp/main.py --add-data "fonts/fontello.ttf;fonts"

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: unittest-results
        path: test-results/results.txt

    - name: Upload built executable
      uses: actions/upload-artifact@v4
      with:
        name: built-executable
        path: dist/ModTracker.exe